[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
  | migrations
  | venv
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".venv", "venv", "migrations"]
known_django = ["django"]
known_first_party = ["api", "core"]
sections = ["FUTURE", "STDLIB", "DJANGO", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
disallow_incomplete_defs = false
check_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
strict_optional = true
strict_equality = true
ignore_missing_imports = true
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "core.settings"

[tool.pylint.'MASTER']
jobs = 4
load-plugins = ["pylint_django", "pylint.extensions.docparams"]
django-settings-module = "core.settings"

[tool.pylint.'DESIGN']
max-attributes = 7
max-arguments = 5
max-locals = 15
max-branches = 12
max-statements = 50

[tool.pylint.'BASIC']
good-names = ["i", "j", "k", "ex", "Run", "_", "id", "x", "y", "df"]

[tool.pylint.'FORMAT']
max-line-length = 100
indent-string = "    "
